<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DragMeToHellSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48187E5A1C6C892A00EFB620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48187E6E1C6C892A00EFB620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48187E791C6C892A00EFB620</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
